
.city-cards-container {
  text-align: center;
}
  
  .search-input-container {
    display: flex;
    margin-bottom: 20px;
  }
  
  .search-input {
    flex: 1;
    margin-right: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .search-button {
    background-color: #af6f4c;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
  }
  
  .city-card {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100% / 3 - 10px); /* set the width of each card to one-third of the container width minus the margin */
    display: inline-block; /* display the cards as inline blocks */
    vertical-align: top; /* align the cards to the top */
  }
  
  
  .city-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .index-type {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .index-value {
    font-size: 16px;
  }

.card {
  width: 150px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

.card-good {
  background-color: #6dd369; /* green */
}

.card-moderate {
  background-color: #fcd34d; /* yellow */
}

.card-bad {
  background-color: #ff6666; /* red */
}
